<%= stylesheet_link_tag "form" %>

<div class="container">
  <div class="login-form">
    <h1>Login</h1>

    <%= form_with(model: @user, url: sessions_path, local: true) do |f| %>

      <% if f.object.errors.full_messages.any? %>
        <ul class="error">
          <% f.object.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      <% end %>

      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, placeholder: 'Please enter email id', class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, placeholder: 'Please enter password', class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit 'Sign In', class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <p class="register-link">
    <%= link_to "Don't have an account? Register", new_user_path %>
  </p>
</div>
