<p style="color: green"><%= notice %> </p>
<%= stylesheet_link_tag "book_page"%>

<div class="bookContainer">

<div id="books">
  <% @books.each do |book| %>
    <h1>
    <%= link_to book.name, book %></h1>
    <p><%= book.description %></p>
    <div>
    
      <%= render book.file.blob, style: "width: 50%; height: auto;" %>
    </div>


    <p>
      
    </p>
  <% end %>
</div>

  <div>
    <%# Todo: Add topics section %>
  </div>
</div>


