<p style="color: green"><%= notice %></p>

<%= render @book %>
<%= render @file %>
<%= link_to "Download File", rails_blob_path(@file), class: "btn btn-primary" %>


<div>
  <%= link_to "Edit this book", edit_book_path(@book) %> |
  <%= link_to "Back to books", books_path %>

  <%= button_to "Destroy this book", @book, method: :delete %>
</div>
