<%= stylesheet_link_tag "books/show" %>
    <%= link_to "Edit", edit_book_path(@book) %>

<p style="color: green"><%= notice %></p>

<div class="bookContainer">
  <div class="bookFile">
    <%= render @file %>

    <div>
      <h1><%= @book.name %></h1>
      <p><%= @book.description %></p>
    </div>

  </div>

  <div class="bookLinks">
    <%= link_to "Download File", rails_blob_path(@file), class: "btn btn-primary" %>
  </div>
</div>

